<footer class="footer text-blue mt-4">
    <div class="row" style="align-items: center;">
        <div class="col" style="display: grid; grid-template-columns: auto auto; align-items: center;">
            <img src="/jester-cesar.png" alt="profile picture" width="170" height="170" class="rounded-circle" style="margin-left: auto;">
            <div class="flex">
                <h1 class="text-primary">Jester CESAR</h1>
                <h4 style="font-weight: 300;">Concepteur Développeur d'Applications Junior</h4>
            </div>
        </div>

        <div class="col gap-2 py-2" style="text-align: center;">
            <h5><ng-icon name="bootstrapTelephoneFill" class="text-primary" style="font-size: 20px;"></ng-icon>06 04 52 32 70</h5>
            <h5><ng-icon name="bootstrapInboxFill" class="text-primary" style="font-size: 20px;"></ng-icon>jester.csr&#64;gmail.com</h5>
            <h5><ng-icon name="bootstrapPinAngleFill" class="text-primary" style="font-size: 20px;"></ng-icon>Goussainville, 95190 France</h5>
        </div>
        <div class="text-center">
            <p>&copy; {{ currentYear }} Jester CESAR. Tous droits reservés</p>
        </div>

    </div>
</footer>
