<nav
  class="navbar navbar-expand-lg fixed-top"
  [class.navbar-floating]="isScrolled"
  [class.bg-white]="appliedTheme === 'light'"
  [class.dark-mode]="appliedTheme === 'dark'"
  [class.navbar-dark]="appliedTheme === 'dark'"
  [class.navbar-light]="appliedTheme === 'light'"
>
  <div class="container" layout="row" layout-align="center center">
    <a
      class="fw-semibold fs-5 nav-text"
      [class.dark-mode]="appliedTheme === 'dark'"
      routerLink="/"
      ><ng-icon name="bootstrapCodeSlash"></ng-icon>Portfolio de Jester CESAR</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span
        class="navbar-toggler-icon"
        [ngClass]="{
          'filter-dark': appliedTheme === 'dark',
          'filter-light': appliedTheme !== 'dark'
        }"
      ></span>
    </button>

    <div
      class="collapse navbar-collapse justify-content-end"
      id="navbarNav"
      #navbarCollapse
    >
      <ul class="navbar-nav align-items-center">
        <li *ngFor="let link of navbarLinks" class="nav-item">
          <a
            routerLink="{{ link.path }}"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            class="nav-link px-3"
            (click)="closeMenu()"
            [attr.aria-current]="link.path === '/' ? 'page' : null"
            ariaCurrentWhenActive="page"
            >{{ link.label }}</a
          >
        </li>

        <!-- Sélecteur de thème -->
        <li class="nav-item ms-3">
          <div class="theme-switch">
            <div
              class="theme-option"
              [class.active]="currentMode === 'light'"
              (click)="setTheme('light')"
            >
              <ng-icon name="bootstrapSunFill" />
            </div>
            <div
              class="theme-option"
              [class.active]="currentMode === 'system'"
              (click)="setTheme('system')"
            >
              <ng-icon name="bootstrapGearFill" />
            </div>
            <div
              class="theme-option"
              [class.active]="currentMode === 'dark'"
              (click)="setTheme('dark')"
            >
              <ng-icon name="bootstrapMoonFill" />
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
