.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
}

.price {
  font-size: 15px;
}

.price span {
  font-weight: bold;
  font-size: 30px;
  background: linear-gradient(90deg, #9b5cff, #ff8dcf);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.tarif-info {
  background: linear-gradient(90deg, #6f42c1, #0d6efd);
  color: white;
}
