<div class="container my-5">
  <section class="templates-hero text-center py-5">
    <div class="container position-relative z-1">
      <h1 class="fw-bold gradient-text mb-3 fade-in">Contact</h1>
      <p class="projet-modern fade-in-delay">
        Vous pouvez me contacter par mail :
        <a href="mailto:jester.csr@gmail.com" class="accordion-contact"
          >jester.csr&#64;gmail.com</a
        >
        ou par téléphone :
        <a href="tel:0604523270" class="accordion-contact">06 04 52 32 70</a>
      </p>
      <p class="projet-modern">
        Vous pouvez aussi me trouver sur d'autres plateformes :
      </p>
    </div>
  </section>

  <div class="contact-btn">
    <a
      href="https://github.com/jestercsr"
      target="_blank"
      class="d-flex gap-3 py-3 accordion-contact"
      ><ng-icon name="bootstrapGithub" style="font-size: 35px" />GitHub</a
    >
    <a
      href="https://www.linkedin.com/in/jester-cesar-705201284"
      target="_blank"
      class="d-flex gap-3 py-3 accordion-contact"
      ><ng-icon style="font-size: 35px" name="bootstrapLinkedin" />LinkedIn</a
    >
  </div>
</div>
