<div class="modern-modal">
  <div class="modal-header border-0">
    <h2 class="modal-title fw-bold gradient-text">{{ template.title }}</h2>
    <button class="btn-close" (click)="activeModal.dismissAll()"></button>
  </div>

  <div class="modal-body">
    <div class="carousel-container rounded-4 overflow-hidden shadow-lg mb-4">
      <ngb-carousel [interval]="8000">
        <ng-template ngbSlide *ngFor="let image of template.image">
          <img
            src="{{ image }}"
            alt="image de {{ template.title }}"
            class="w-100 d-block"
          />
        </ng-template>
      </ngb-carousel>
    </div>

    <h3 class="mt-2">Description</h3>
    <p>{{ template.description }}</p>
    <p>
      Voir le projet sur {{ template.where }} :<a
        href="{{ template.github }}"
        class="btn btn-gradient ms-2"
        target="_blank"
        >Ouvrir</a
      >
    </p>
    <hr class="divider" />

    <div class="tags-container mt-3 d-flex flex-wrap justify-content-start">
      <span
        *ngFor="let tag of template.tags"
        class="tag-pill"
        [style.borderColor]="tag.color"
      >
        {{ tag }}
      </span>
    </div>
  </div>
</div>
