#home {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  
  h1 span {
    color: #0d6efd;
  }
  
  .btn-primary {
    padding: 0.75rem 1.5rem;
    font-size: 1.1rem;
    border-radius: 30px;
    transition: all 0.3s ease;
  }
  
  .btn-primary:hover {
    background-color: #084298;
    transform: scale(1.05);
  }
  